---
layout: default
---

{% if page.featuredImageOnPage %}

<h1>{{page.title}}</h1>

<div class="row">
  <img class="Quilt__featured-image" src="{{page.featuredImageOnPage}}" />
</div>

{% endif %}

{% if page.imagesOnPage %}

<div class="row">

	{% for image in page.imagesOnPage %}
	<div class="Quilt_image-on-page large-4 columns">
	  <a href="{{image}}">
	    <img src="{{image}}" />
	  </a>
	</div>
	{% endfor %}

</div>

{% endif %}

{{ content }}

<ul class="breadcrumbs left">
	<li class="unavailable">You are here:</li>
	<li><a href="{{site.url}}">{{site.title}}</a></li>
	<li class="unavailable">Works of Art</li>
	<li><a href="post.url">{{ page.title }}</a></li>
</ul>

<br>